.button {
  background-color: azure;
  padding: 17px;
  margin: 1rem;
  border-radius: 50%;
  position: fixed;
}
.nav {
  border-radius: 0% 20% 20% 0%;
  position: fixed;
  color: white;
  padding: 2rem;
  font-size: 1.5rem;
  backdrop-filter: blur(3.5px);
  font-weight: bold;
    margin-top: 4.2rem;
}
